# Node.js
node_modules/
npm-debug.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
dist/
*.tsbuildinfo

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Jest
coverage/
*.jest-test-results.json

# Dependency directories
bower_components/
jspm_packages/

# Optional npm cache directory
.npm/

# Miscellaneous
*.tgz